{% extends "base/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/listas.css' %}">
<br>
<div class="text-center">
    <h1 class="section-title-underline mb-5">
      <span class="text-dark">Lista para agregar materiales al pedido</span>
    </h1>
</div>

<div class="container">
   <div class="container px-2 b-2">
      <div class="alert alert-primary" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Importante!</strong> Cuando quiera agregar un material solo indique la cantidad y oprima al botón agregar.
      </div>
</div>

<div class="wrapper">
    <div class="pull-right">
        <form method="GET">
        <input type="text" name="nombre_articulo__icontains" placeholder="Nombre producto" id="id_nombre_articulo__icontains">
        <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <div class="table">
        <div class="row header">
            <div class="cell">
                Codigo articulo
            </div>
            <div class="cell">
                Nombre articulo
            </div>
            <div class="cell">
                Fabricante
            </div>
            <div class="cell">
                Ficha tecnica
            </div>
            <div class="cell">
                Unidad metrica
            </div>
            <div class="cell">
                Lote
            </div>
            <div class="cell">
                Tipo de elemento
            </div>
            <div class="cell">
                Cantidad
            </div>
        </div>
        {% if filter %}
            {% for material in filter.qs %}
                <div class="row">
                    <div class="cell" data-title="Codigo articulo">
                        {{material.codigo_articulo}}
                    </div>
                    <div class="cell" data-title="Nombre articulo">
                        {{material.nombre_articulo}}
                    </div>
                    <div class="cell" data-title="Fabricante">
                        {{material.fabricante}}
                    </div>
                    <div class="cell" data-title="Ficha Tecnica">
                        {{material.ficha_tecnica}}
                    </div>
                    <div class="cell" data-title="Unidad metrica">
                        {{material.unidad_metrica_r}}
                    </div>
                    <div class="cell" data-title="Lote">
                        {{material.lote_articulo_r}}
                    </div>
                    <div class="cell" data-title="Tipo de elemento">
                        {{material.tipo_elemento_r}}
                    </div>


                    <form method="POST">{% csrf_token %}
                        <div class="cell" data-title="Cantidad">
                            <input type="number" min="1" style="width:50px;height:30px" name="cantidad_requerida" value="{{1}}">
                        </div>
                        <input type="hidden" name="fecha_pedido" value="{% now "d/m/Y" %}" >
                        <input type="hidden" name="responsable_r" value="{{user.id}}" >
                        <input type="hidden" name="codigo_articulo_r" value="{{material.codigo_articulo}}" >
                        {% for pedido in pedidos %}
                            <input type="hidden" name="pedido_guia_r" value="{{pedido.checkpoint}}" >
                            <div class="cell" data-title="Agregar al pedido">
                            <button type="submit" class="btn btn-success">Agregar</button>
                        {% endfor %}
                        </div>
                    </form>    
                </div>
            {% endfor %}
        {% else %}
            <h2 class="text-white">No hay materiales agregados</h2>
        {% endif %}
    </div>
</div>
    {% for pedido in pedidos %}
        <a class="btn btn-primary" href="{% url 'inicio:buscar_pedido' pedido.checkpoint%}">Regresar</a>
    {% endfor %}
{% endblock %}
